{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{blog.title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="bg-white font-mono leading-normal tracking-normal">
    <!-- HEADER -->
    {% include 'corewidgets/header.html' %}
    <section class="text-gray-600 body-font">
      <div
        class="container mx-auto flex px-5 py-24 items-center justify-center flex-col"
      >
        <img
          class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
          alt="hero"
          src="{{blog.image.url}}"
        />
        <div class="text-left lg:w-2/3 w-full">
          <h1
            class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 text-center"
          >
            {{blog.title}}
          </h1>
          <p class="text-center pb-10">
            by
            <a
              class="text-blue-600 font-bold"
              href="https://github.com/wonderkidshihab/"
              >Shihab Uddin</a
            >
          </p>
          <p class="mb-8 leading-relaxed">{{blog.description}}</p>
        </div>
      </div>
    </section>
    <!-- FOOTER SECTION -->
    {% include 'corewidgets/footer.html' %}
  </body>
  <script>
    // shows #navbar element
    toggleCollapse("navbar");

    // hides #navbar element
    toggleCollapse("navbar", false);

    // also shows #navbar element
    toggleCollapse("navbar", true);
  </script>
  <script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
</html>
