<section id="#greetings">
  <div
    class="text-center text-white bg-blue-700 py-28 px-10 flex flex-col md:flex-row sm:px-10 md:px-20"
  >
    <div class="flex-1">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player
        src="https://assets1.lottiefiles.com/packages/lf20_M9p23l.json"
        background="transparent"
        speed="1"
        class="w-full h-full"
        style="width: 100%"
        loop
        autoplay
      ></lottie-player>
    </div>
    <div class="flex-1 text-center self-center">
      <h5 class="text-4xl font-bold p-8">Hello, Nice to meet you.</h5>
      <p>
        I have 3 years of experience in Mobile app development with Flutter. I
        can make the most user-friendly as well as most secure apps for you. I
        have more than 10 apps running on the play store. The most vital ones
        are TheBorak and SmartCommerce. I can make the app for your E-commerce
        business, Travel/Social blogs, Portfolio for your works and arts,
        Restaurants and Hotels bookings, etc.
      </p>
    </div>
  </div>
</section>
