<section class="lg:h-full text-slate-700" id="#id">
  <div class="mx-auto self-center">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player
      src="https://assets10.lottiefiles.com/packages/lf20_fcfjwiyb.json"
      background="transparent"
      speed="1"
      class="sm:w-2/4 w-full sm:px-0 p-10 sm:h-auto h-full mx-auto"
      loop
      autoplay
    ></lottie-player>
  </div>
  <div class="text-center mb-32 px-10">
    <h1 class="text-4xl font-bold">Hi, I'm Shihab</h1>
    <p class="text-xl font-bold">
      I'm a software engineer based in Dhaka, Bangladesh.
    </p>
  </div>
</section>
