<section
  class="pt-20 lg:pt-[60px] pb-10 lg:pb-20 bg-[#F3F4F6] px-20"
  id="portfolio"
>
  <div class="container">
    <h1
      class="text-slate-600 text-center pb-20 lg:pb-[60px] font-bold text-4xl"
    >
      Portfolios
    </h1>
    <div class="grid sm:grid-cols-3 grid-cols-1 gap-4">
      <a href="https://play.google.com/store/apps/details?id=com.theborak.user">
        <div
          class="w-full h-80 rounded-lg bg-[url('images/theborak.png')] bg-cover bg-center"
        >
          <div
            class="flex justify-center items-center h-full text-slate-600 hover:text-white opacity-0 hover:opacity-100 hover:bg-slate-400 hover:rounded-lg transition-opacity duration-300"
          >
            <div class="w-full my-auto">
              <div class="flex flex-col justify-center items-center px-10">
                <h1 class="text-center text-3xl font-bold py-4">TheBorak</h1>
                <!-- chips with texts Flutter, dart, Python, Django -->
                <div class="flex flex-row justify-center items-center">
                  <span
                    class="mx-2 px-4 py-1 rounded-full bg-blue-800 text-white"
                  >
                    Flutter
                  </span>
                  <span
                    class="mx-2 px-4 py-1 rounded-full bg-blue-800 text-white"
                  >
                    Dart
                  </span>
                  <span
                    class="mx-2 px-4 py-1 rounded-full bg-blue-800 text-white"
                  >
                    PHP
                  </span>
                  <span
                    class="mx-2 px-4 py-1 rounded-full bg-blue-800 text-white"
                  >
                    Laravel
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.zing.id">
        <div
          class="w-full h-80 rounded-lg bg-[url('/images/zing2.jpeg')] bg-cover bg-center"
        >
          <div
            class="flex justify-center items-center h-full text-slate-600 hover:text-white opacity-0 hover:opacity-100 hover:bg-slate-400 hover:rounded-lg transition-opacity duration-300"
          >
            <div class="w-full my-auto">
              <div class="flex flex-col justify-center items-center px-10">
                <h1 class="text-center text-3xl font-bold py-4">ZingID</h1>
                <!-- chips with texts Flutter, dart, Python, Django -->
                <div class="flex flex-row justify-center items-center">
                  <span
                    class="mx-2 px-4 py-1 rounded-full bg-blue-800 text-white"
                  >
                    Flutter
                  </span>
                  <span
                    class="mx-2 px-4 py-1 rounded-full bg-blue-800 text-white"
                  >
                    Dart
                  </span>
                  <span
                    class="mx-2 px-4 py-1 rounded-full bg-blue-800 text-white"
                  >
                    Python
                  </span>
                  <span
                    class="mx-2 px-4 py-1 rounded-full bg-blue-800 text-white"
                  >
                    Django
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a
        href="https://play.google.com/store/apps/details?id=com.findbiz.findbizdata"
      >
        <div
          class="w-full h-80 rounded-lg bg-[url('images/findbizdata.jpeg')] bg-cover bg-center"
        >
          <div
            class="flex justify-center items-center h-full text-slate-600 hover:text-white opacity-0 hover:opacity-100 hover:bg-slate-400 hover:rounded-lg transition-opacity duration-300"
          >
            <div class="w-full my-auto">
              <div class="flex flex-col justify-center items-center px-10">
                <h1 class="text-center text-3xl font-bold py-4">Portfolio 3</h1>
                <div class="flex flex-row justify-center items-center">
                  <span
                    class="mx-2 px-4 py-1 rounded-full bg-blue-800 text-white"
                  >
                    Flutter
                  </span>
                  <span
                    class="mx-2 px-4 py-1 rounded-full bg-blue-800 text-white"
                  >
                    Dart
                  </span>
                  <span
                    class="mx-2 px-4 py-1 rounded-full bg-blue-800 text-white"
                  >
                    Python
                  </span>
                  <span
                    class="mx-2 px-4 py-1 rounded-full bg-blue-800 text-white"
                  >
                    Django
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
