<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shihab Uddin | Flutter Dev</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="output.css" />
  </head>

  <body class="bg-white font-mono leading-normal tracking-normal">
    <!-- HEADER -->

    <nav class="border-gray-200 px-2 sm:px-4 py-2.5 rounded bg-red-200">
      <div
        class="container flex flex-wrap justify-between items-center mx-auto"
        id="navbar"
      >
        <a href="#" class="flex">
          <span class="self-center text-2xl font-semibold whitespace-nowrap"
            >SHIHAB UDDIN</span
          >
        </a>
        <div class="flex md:order-2">
          <a
            href="https://github.com/wonderkidshihab/"
            target="_blank"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0"
          >
            Follow Me
          </a>
          <button
            data-collapse-toggle="mobile-menu-4"
            type="button"
            class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="mobile-menu-4"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <svg
              class="hidden w-6 h-6"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
        <div
          class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1"
          id="mobile-menu-4"
        >
          <ul
            class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium"
          >
            <li>
              <a
                href="#"
                class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"
                aria-current="page"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#blog"
                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0"
                >Blogs</a
              >
            </li>
            <li>
              <a
                href="#portfolio"
                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0"
                >Portfolio</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0"
                >About me</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- INTRO SECTION -->
    <!-- {% include 'theme/widgets/intro-section.html' %} -->
    <!-- PORTFOLIO SECTION -->
    <section
      class="pt-20 lg:pt-[60px] pb-10 lg:pb-20 bg-[#F3F4F6] px-20"
      id="portfolio"
    >
      <div class="container">
        <h1
          class="text-slate-600 text-center pb-20 lg:pb-[60px] font-bold text-4xl"
        >
          Portfolios
        </h1>
        <div class="grid sm:grid-cols-3 grid-cols-1 gap-4">
          <a href="#">
            <div
              class="w-full h-80 rounded-lg bg-[url('https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')] bg-cover bg-center"
            >
              <div
                class="flex justify-center items-center h-full text-slate-600 hover:text-white opacity-0 hover:opacity-100 hover:bg-slate-400 hover:rounded-lg transition-opacity duration-300"
              >
                <div class="w-full my-auto">
                  <div class="flex flex-col justify-center items-center px-10">
                    <h1 class="text-center text-3xl font-bold">Portfolio 1</h1>
                    <p class="text-center text-xl font-bold">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Quisquam, quidem.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#">
            <div
              class="w-full h-80 rounded-lg bg-[url('https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')] bg-cover bg-center"
            >
              <div
                class="flex justify-center items-center h-full text-slate-600 hover:text-white opacity-0 hover:opacity-100 hover:bg-slate-400 hover:rounded-lg transition-opacity duration-300"
              >
                <div class="w-full my-auto">
                  <div class="flex flex-col justify-center items-center px-10">
                    <h1 class="text-center text-3xl font-bold">Portfolio 2</h1>
                    <p class="text-center text-xl font-bold">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Quisquam, quidem.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#">
            <div
              class="w-full h-80 rounded-lg bg-[url('https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')] bg-cover bg-center"
            >
              <div
                class="flex justify-center items-center h-full text-slate-600 hover:text-white opacity-0 hover:opacity-100 hover:bg-slate-400 hover:rounded-lg transition-opacity duration-300"
              >
                <div class="w-full my-auto">
                  <div class="flex flex-col justify-center items-center px-10">
                    <h1 class="text-center text-3xl font-bold">Portfolio 3</h1>
                    <p class="text-center text-xl font-bold">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Quisquam, quidem.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>

    <!--Blog Section-->
    <!--  Greetings Section -->

    <!-- FOOTER SECTION 
    {% include 'corewidgets/footer.html' %} -->
  </body>
  <script>
    // shows #navbar element
    toggleCollapse("navbar");

    // hides #navbar element
    toggleCollapse("navbar", false);

    // also shows #navbar element
    toggleCollapse("navbar", true);
  </script>
  <script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
</html>
