{% load static %}
<section class="pt-20 lg:pt-[60px] pb-10 lg:pb-20 bg-[#e3e4e6] px-20" id="blog">
  <div class="container">
    <h1
      class="text-slate-600 text-center pb-20 lg:pb-[60px] font-bold text-4xl"
    >
      Blogs
    </h1>
    <div class="flex flex-wrap -mx-4">
      {% for blog in blogs %}
      <div class="w-full md:w-1/2 xl:w-1/3 px-4">
        <div
          class="bg-white rounded-lg overflow-hidden mb-10 hover:shadow-md h-20"
        >
          <img src="{{blog.image.url}}" alt="image" class="w-full h-80" />
          <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
            <h3>
              <a
                href="javascript:void(0)"
                class="font-semibold text-dark text-xl sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px] mb-4 block hover:text-primary"
              >
                {{blog.title}}
              </a>
            </h3>
            <p class="text-base text-body-color leading-relaxed mb-7">
              {{blog.description}}
            </p>
            <a
              href="{%url 'blog' blog.id%}"
              class="inline-block py-2 px-7 border border-[#E5E7EB] rounded-full text-base text-body-color font-medium hover:border-primary hover:bg-primary hover:text-white transition"
            >
              View Details
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
