<section
  class="pt-20 lg:pt-[60px] pb-10 lg:pb-20 bg-[#F3F4F6] px-20"
  id="portfolio"
>
  <div class="container">
    <h1
      class="text-slate-600 text-center pb-20 lg:pb-[60px] font-bold text-4xl"
    >
      Portfolios
    </h1>
    <div class="grid sm:grid-cols-3 grid-cols-1 gap-4">
      <a href="#">
        <div
          class="w-full h-80 rounded-lg bg-[url('https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')] bg-cover bg-center"
        >
          <div
            class="flex justify-center items-center h-full text-slate-600 hover:text-white opacity-0 hover:opacity-100 hover:bg-slate-400 hover:rounded-lg transition-opacity duration-300"
          >
            <div class="w-full my-auto">
              <div class="flex flex-col justify-center items-center px-10">
                <h1 class="text-center text-3xl font-bold">Portfolio 1</h1>
                <p class="text-center text-xl font-bold">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quisquam, quidem.
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div
          class="w-full h-80 rounded-lg bg-[url('https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')] bg-cover bg-center"
        >
          <div
            class="flex justify-center items-center h-full text-slate-600 hover:text-white opacity-0 hover:opacity-100 hover:bg-slate-400 hover:rounded-lg transition-opacity duration-300"
          >
            <div class="w-full my-auto">
              <div class="flex flex-col justify-center items-center px-10">
                <h1 class="text-center text-3xl font-bold">Portfolio 2</h1>
                <p class="text-center text-xl font-bold">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quisquam, quidem.
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div
          class="w-full h-80 rounded-lg bg-[url('https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')] bg-cover bg-center"
        >
          <div
            class="flex justify-center items-center h-full text-slate-600 hover:text-white opacity-0 hover:opacity-100 hover:bg-slate-400 hover:rounded-lg transition-opacity duration-300"
          >
            <div class="w-full my-auto">
              <div class="flex flex-col justify-center items-center px-10">
                <h1 class="text-center text-3xl font-bold">Portfolio 3</h1>
                <p class="text-center text-xl font-bold">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quisquam, quidem.
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
