<section
  class="pt-20 lg:pt-[60px] pb-10 lg:pb-20 bg-[#F3F4F6] px-20"
  id="portfolio"
>
  <div class="container">
    <h1
      class="text-slate-600 text-center pb-20 lg:pb-[60px] font-bold text-4xl"
    >
      Portfolios
    </h1>
    <div class="grid sm:grid-cols-3 grid-cols-1 gap-4">
      {% for portfolio in portfolios %}
      <div href="#">
        <img
          class=" rounded-lg bg-cover bg-center h-fit"
          src="{{ portfolio.image.url }}"
        >
          <div
            class="flex justify-center items-center text-slate-600  hover:rounded-lg"
          >
            <div class="w-full my-auto">
              <div class="flex flex-col justify-center items-center px-10">
                <h1 class="text-center text-3xl font-bold my-3">
                  {{portfolio.title}}
                </h1>
                <div class="flex flex-row">
                  
                {% for tech in portfolio.listOfTechnologies.all %}
                <span class="text-center text-sm font-bold py-1 px-2 m-1 bg-blue-700 text-white rounded-md">
                  {{tech.name}}
                </span>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </img>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
